@import url('../__origin/css/common.css');
@import url('../__origin/css/theme/pop-chat.css');
@import url('../__origin/css/direction/bottom-to-top.css');
@import url('../__origin/css/animation/pop.css');
@import url('../__origin/css/animation/move.css');